<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.healthcare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="ContactDoctor.MessageActivity" />
        <activity
            android:name="ForDoctor.MyProfile.EditMyProfileDoctorActivity"
            android:label="Edit Profile"
            android:parentActivityName="ForDoctor.MyProfile.MyProfileDoctorActivity" />
        <activity
            android:name="ForDoctor.MyProfile.MyProfileDoctorActivity"
            android:label="My Profile"
            android:parentActivityName="ForDoctor.NavigationDoctor" />
        <activity android:name="ForDoctor.MyProfile.FirstDoctorProfileActivity" />
        <activity android:name="ForDoctor.NavigationDoctor" />
        <activity android:name="ForDoctor.RegistrationDoctorActivity" />
        <activity android:name="ForDoctor.LoginDoctorActivity" />
        <activity android:name=".PatientOrDoctorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ContactDoctor.CheckDoctorsActivity"
            android:label="Doctors"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name="Reminder.ReminderActivity"
            android:label="Reminder Details"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name="Reminder.AddReminderActivity"
            android:label="Add Reminder"
            android:parentActivityName="Reminder.ReminderActivity" />
        <activity
            android:name="Contact.ViewContactDetails"
            android:label="View Contact"
            android:parentActivityName="Contact.ContactActivity" />
        <activity
            android:name="Contact.AddNewContactActivity"
            android:label="Contact Details"
            android:parentActivityName="Contact.ContactActivity" />
        <activity
            android:name="medicine.ViewMedicineActivity"
            android:label="Your Medical Details"
            android:parentActivityName="medicine.MedicineActivity" />
        <activity
            android:name="Contact.ContactActivity"
            android:label="ADD NEW CONTACT"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name="medicine.AddMedRecordActivity"
            android:label="ADD DETAILS"
            android:parentActivityName="medicine.MedicineActivity" />
        <activity
            android:name="medicine.MedicineActivity"
            android:label="Medical History"
            android:parentActivityName=".NavigationActivity" />
        <activity android:name="profile.FirstMyProfileActivity" />
        <activity
            android:name="profile.EditMyProfileActivity"
            android:label="Edit My Profile"
            android:parentActivityName="profile.MyProfileActivity" />
        <activity
            android:name="profile.MyProfileActivity"
            android:label="My Profile"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation" />
        <activity
            android:name=".RegistrationActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".PatientOrDoctorActivity" />
    </application>

</manifest>