<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.healthcare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".DoctorRateActivity" />
        <activity
            android:name="ForDoctor.Appointments.CheckAppointmentsActivity"
            android:label="Appointments"
            android:parentActivityName="ForDoctor.NavigationDoctor" />
        <activity
            android:name="Appointments.Confirmed.ConfirmedAppointmentActivity"
            android:label="Confirmed Appointments"
            android:parentActivityName="Appointments.AppointmentPatientActivity" />
        <activity
            android:name="TestResult.ReportIMGActivity"
            android:label="Report Details"
            android:parentActivityName="TestResult.StoredReportActivity" />
        <activity
            android:name="TestResult.ReportPDFActivity"
            android:label="Report Details"
            android:parentActivityName="TestResult.StoredReportActivity" />
        <activity
            android:name="TestResult.StoredReportActivity"
            android:label="Check Your Reports"
            android:parentActivityName="TestResult.TestResultActivity" />
        <activity
            android:name="TestResult.NewReportActivity"
            android:label="New Report"
            android:parentActivityName="TestResult.TestResultActivity" />
        <activity
            android:name="TestResult.TestResultActivity"
            android:label="Test Result"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name="Appointments.Pending.PendingAppointmentActivity"
            android:label="Pending Appointments"
            android:parentActivityName="Appointments.AppointmentPatientActivity" />
        <activity android:name="Appointments.Booking.BookAppointmentActivity" />
        <activity android:name="ForDoctor.AppointmentLocationActivity" />
        <activity
            android:name="Appointments.AppointmentPatientActivity"
            android:label="Appointments"
            android:parentActivityName=".NavigationActivity" />
        <activity android:name="Reminder.AlertActivity" />
        <activity
            android:name="ForDoctor.Messages.ChatListDoctorActivity"
            android:parentActivityName="ForDoctor.NavigationDoctor" />
        <activity
            android:name="ForDoctor.Patients.ViewPatientsActivity"
            android:parentActivityName="ForDoctor.NavigationDoctor" />
        <activity
            android:name="ForDoctor.Messages.DocMessagesActivity"
            android:parentActivityName="ForDoctor.Messages.ChatListDoctorActivity" />
        <activity
            android:name="ContactDoctor.FavouriteList"
            android:parentActivityName="ContactDoctor.CheckDoctorsActivity" />
        <activity
            android:name="Chat.ChatListActivity"
            android:parentActivityName="ContactDoctor.CheckDoctorsActivity" />
        <activity
            android:name="ContactDoctor.MessageActivity"
            android:parentActivityName="Chat.ChatListActivity" />
        <activity
            android:name="ForDoctor.MyProfile.EditMyProfileDoctorActivity"
            android:label="Edit Profile"
            android:parentActivityName="ForDoctor.MyProfile.MyProfileDoctorActivity" />
        <activity
            android:name="ForDoctor.MyProfile.MyProfileDoctorActivity"
            android:label="" />
        <activity android:name="ForDoctor.MyProfile.FirstDoctorProfileActivity" />
        <activity android:name="ForDoctor.NavigationDoctor" />
        <activity android:name="ForDoctor.RegistrationDoctorActivity" />
        <activity android:name="ForDoctor.LoginDoctorActivity" />
        <activity android:name=".PatientOrDoctorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ContactDoctor.CheckDoctorsActivity"
            android:label="Doctors"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name="Reminder.ReminderActivity"
            android:label="Reminder Details"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name="Reminder.AddReminderActivity"
            android:label="Add Reminder"
            android:parentActivityName="Reminder.ReminderActivity" />
        <activity
            android:name="Contact.ViewContactDetails"
            android:label="View Contact"
            android:parentActivityName="Contact.ContactActivity" />
        <activity
            android:name="Contact.AddNewContactActivity"
            android:label="Contact Details"
            android:parentActivityName="Contact.ContactActivity" />
        <activity
            android:name="Medicine.ViewMedicineActivity"
            android:label="Your Medical Details"
            android:parentActivityName="Medicine.MedicineActivity" />
        <activity
            android:name="Contact.ContactActivity"
            android:label="Add New Contact"
            android:parentActivityName=".NavigationActivity" />
        <activity
            android:name="Medicine.AddMedRecordActivity"
            android:label="Add Details"
            android:parentActivityName="Medicine.MedicineActivity" />
        <activity
            android:name="Medicine.MedicineActivity"
            android:label="Medical History"
            android:parentActivityName=".NavigationActivity" />
        <activity android:name="Profile.FirstMyProfileActivity" />
        <activity
            android:name="Profile.EditMyProfileActivity"
            android:label="Edit My Profile"
            android:parentActivityName="Profile.MyProfileActivity" />
        <activity
            android:name="Profile.MyProfileActivity"
            android:label="" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation" />
        <activity
            android:name=".RegistrationActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".PatientOrDoctorActivity" />

        <receiver
            android:name="Reminder.AlarmReceiver"
            android:process=":remote" />
    </application>

</manifest>